.user-login {
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.content-login {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;

  h2 {
    text-align: center;
  }

}

::ng-deep .content-login input {
  padding-left: 10px!important;
  border-radius: 8px!important;
  margin-top: 7px;
}

::ng-deep .content-login ion-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-login {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: #1a9135;
  box-shadow: 0 3px 1px -2px #ccc, 0 2px 2px 0 #ccc, 0 1px 5px 0 #ccc;

  &:active {
    box-shadow: 0 4px 2px -3px #ccc, 0 4px 5px 1px #ccc, 0 2px 7px 1px #ccc;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group {
  margin-bottom: 15px;
}
