<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ingresar Clase</ion-card-title>
    </ion-card-header>
      <ion-item>
        <ion-label position="floating">Nombre Asignatura</ion-label>
        <ion-input [(ngModel)]="clase.nombre" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Profesor</ion-label>
        <ion-input [(ngModel)]="clase.profesor"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Horario</ion-label>
        <ion-input [(ngModel)]="clase.horario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">QR</ion-label>
        <ion-input [(ngModel)]="clase.qr"></ion-input>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-button expand="block" shape="round" color="warning"> Guardar Cambios </ion-button>
          </ion-col>

        </ion-row>
      </ion-grid>
  </ion-card>
</ion-content>
