<ion-content>
  <div class="margin-top-navbar">
    <ion-card>
        <ion-card-header>
        <ion-card-title>
            ¡Bienvenido, {{ nombre_usuario }} 📚 !
        </ion-card-title>
        </ion-card-header>

        <ion-card-content>
        Aquí puedes encontrar 
        </ion-card-content>
    </ion-card>
    <div class="ion-padding">
      <div class="user-menu">
        <ion-card>
          <ion-card-content text-center>
            Opciones
          </ion-card-content>
  
          <ion-row class="ion-justify-content-around">

            <ion-col class="ion-text-center">
              <ion-button expand="full">
                <ion-icon slot="start"></ion-icon>
                Marcar Asistencia
              </ion-button>
            </ion-col>
  
            <ion-col class="ion-text-center">
              <ion-button expand="full" >
                <ion-icon  slot="start"></ion-icon>
                Ver Listado
                <ion-badge color="primary" class="badge"></ion-badge>
              </ion-button>
            </ion-col>
          </ion-row>
  
          <ion-row class="ion-justify-content-around">

            <ion-col class="ion-text-center">
              <ion-button expand="full">
                <ion-icon slot="start"></ion-icon>
                Clases
              </ion-button>
            </ion-col>
  
            <ion-col class="ion-text-center">
              <ion-button expand="full">
                <ion-icon  slot="start"></ion-icon>
                Horario
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </div>

  </div>
</ion-content>

