<ion-tab-bar slot="bottom">
    <ion-tab-button tab="alumnos" routerLink="/alumno">
        <ion-icon name="home"></ion-icon>
        <ion-label>Inicio</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="profesor" routerLink="/profesor">
        <ion-icon name="people"></ion-icon>
        <ion-label>Profesores</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="cursos">
        <ion-icon name="book"></ion-icon>
        <ion-label>Cursos</ion-label>
    </ion-tab-button>
</ion-tab-bar>
