<ion-content [fullscreen]="true">
  <div>
    <ion-card-content>
      <h1 class="titulo">RegistrApp</h1>
      <ion-img src="../../../assets/img/alumno.jpg" alt="logo-alumno" width="70%"></ion-img>
      <ion-card>
        <ion-card-title *ngIf="data"> Hola, {{data.usuario}} </ion-card-title>
      </ion-card>
      <ion-button (click)="cerrarSesion()" color="primary" type="button" shape="round">
        Cerrar Sesión
      </ion-button>
    </ion-card-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Menú</ion-card-title>
      </ion-card-header>
        <!-- <ion-item>
          <ion-label position="floating">Nombre Asignatura</ion-label>
          <ion-input [(ngModel)]="clase.nombre" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Profesor</ion-label>
          <ion-input [(ngModel)]="clase.profesor"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Horario</ion-label>
          <ion-input [(ngModel)]="clase.horario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">QR</ion-label>
          <ion-input [(ngModel)]="clase.qr"></ion-input>
        </ion-item> -->
        <!-- <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-button (click)="limpiarClase()" expand="block" shape="round" color="warning"> Limpiar </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button (click)="registrar()" expand="block" shape="round" color="success">Registrar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid> -->
    </ion-card>

 
  </div>
</ion-content>
